﻿@model DVDRentalASP.Movie

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dailyRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dailyRent)
        </dd>

        <dt>
            @Html.DisplayName("Branch")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.street)
        </dd>

        <dt>
            @Html.DisplayName("Director")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.name)
            @Html.DisplayFor(model => model.Director.surName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new {@class=  "btn btn-primary"})
        </div>
    }
</div>
