﻿@model DVDRentalASP.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dailyRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dailyRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.street)
        </dd>

        <dt>
            @Html.DisplayName("Director")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.name)
            @Html.DisplayFor(model => model.Director.surName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null,  new {@class = "btn btn-primary"})
</p>
