﻿@model IEnumerable<DVDRentalASP.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new {@class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Daily rent")
        </th>
        <th>
            @Html.DisplayName("Branch")
        </th>
        <th>
            @Html.DisplayName("Director Name")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dailyRent) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director.name)
            @Html.DisplayFor(modelItem => item.Director.surName)
        </td>
        <td>
            @foreach (var cat in item.Category)
            {
                @Html.DisplayFor(cate => cat.name)<br />
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.catalogNumber }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.catalogNumber }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
