﻿@model IEnumerable<DVDRentalASP.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Category name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td class="rightFloating">
            @Html.ActionLink("Edit", "Edit", new { id=item.categoryNumber }, new {@class=  "btn btn-warning"}) 
            @Html.ActionLink("Details", "Details", new { id=item.categoryNumber }, new {@class = "btn btn-primary"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.categoryNumber }, new {@class=  "btn btn-danger"})
        </td>
    </tr>
}

</table>
