﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Database description problem</h3>

<img alt="DatabaseIcon" src="~/Images/database.png" class="databaseImage" />
<p class="about">Read the following case study, which describes the data requirements for a DVD rental company.<br />
The DVD rental company has several branches throughout the USA. <br />The data held on each branch is the branch
address made up of street, city, state, and zip code, and the telephone number. <br />Each branch is given a branch
number, which is unique throughout the company. <br />Each branch is allocated staff, which includes a Manager.
The Manager is responsible for the day-to-day running of a given branch. <br />The data held on a member of staff is
his or her name, position, and salary. Each member of staff is given a staff number, which is unique throughout
the company.
Each branch has a stock of DVDs. The data held on a DVD is the catalog number, DVD number, title, category,
daily rental, cost, status, and the names of the main actors, and the director. <br />The catalog number uniquely
identifies each DVD. <br />However, in most cases, there are several copies of each DVD at a branch, and the
individual copies are identified using the DVD number. A DVD is given a category such as Action, Adult,
Children, Drama, Horror, or Sci-Fi. <br />The status indicates whether a specific copy of a DVD is available for rent.
Before hiring a DVD from the company, a customer must first register as a member of a local branch. <br />The data
held on a member is the first and last name, address, and the date that the member registered at a branch. <br />Each
member is given a member number, which is unique throughout all branches of the company. <br />Once registered, a
member is free to rent DVDs, up to maximum of ten at any one time. The data held on each DVD rented is the
rental number, the full name and number of the member, the DVD number, title, and daily rental, and the dates
the DVD is rented out and date returned. <br />The rental number is unique throughout the company.</p>
