﻿
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin panel</h2>
<h4>Manage data in your application</h4>

<div class="container body-content" style="margin-top: 5%">
    <div class="row">

        <div class="col-md-6">

            <ul class="">
                <li class="list-group-item">@Html.ActionLink("Branches", "Index", "Branches")</li>
                <li class="list-group-item">@Html.ActionLink("Categories", "Index", "Categories")</li>
                <li class="list-group-item">@Html.ActionLink("Movies", "Index", "Movies")</li>
               
            </ul>
        </div>
        <div class="col-md-6">
            <img src="../../Images/Admin.jpg" alt="Admin" class="img-responsive" />
        </div>

    </div>



</div>

