﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-6">
    <address>
        Kraków, ul. Rzeczna 7<br />
        38 - 340 Biecz<br />
        <abbr title="Phone">P:</abbr>
        884-166-841
    </address>


    <address>
        <strong>Support:</strong>   <a href="mailto:piotrmakowiec@outlook.com">Piotr Makowiec</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Krystian Karczyński</a>
    </address>
</div>
<div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.599558147112!2d19.921163515314003!3d50.07506062222367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165bac019a3e3f%3A0x9e8fc9224db40197!2sRzeczna+7%2C+Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1465504506406" frameborder="0" class="mapImage" allowfullscreen></iframe>
</div>
