﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DVD Rental Company</h1>
    <p class="lead">Welcome to our website!<br />
                    Rent your movie and enjoy the time...</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You don't need to move your body from the sofa.<br />
            Register yourself and enjoy the movies without moving out.<br />
            Our people provide the movies you have rented.<br />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Movies</h2>
        <p>Here you can see the whole library of movies we have, divided by categories.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Take a video personally</h2>
        <p>Receive film personally, here you will find a list of our branches</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>