﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.databaseImage
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.mapImage {
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%
}
.about
{
    text-align: justify;
}
tr:first-child
{
    background-color: #efefef;
}
tr:hover
{
    background-color: #efefef;
}
.btn
{
    margin: 2px;
}

.rightFloating 
{
    float: right;
    text-align: right;
}