﻿@model IEnumerable<DVDRentalASP.Branch>

@{
    ViewBag.Title = "Branches Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Branches</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Street")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("Zipp code")
        </th>
        <th>
            @Html.DisplayName("Phone number")
        </th>
        <th>
            @Html.DisplayName("Manager")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zippCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.branchNumber }, new { @class = "btn btn-warning"})
            @Html.ActionLink("Details", "Details", new { id=item.branchNumber }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.branchNumber }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
